__pycache__/\
*.pyc\
.env\
venv/\
.env/\
.vscode/\
*.pth\
*.ckpt\
*.mp4\
.DS_Store

# ignore raw dataset folders
data/
datasets/
raw/
runs/
outputs/
checkpoints/
models/
*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.zip
*.tar
*.tar.gz
*.7z
*.mp4
*.mov
*.avi
